.comment-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comment_icons{
    cursor: pointer;
    color: rgb(97, 161, 234);
  }
  .comment_icons :hover{
    cursor: pointer;
    color: #4B84BE;
    transition: box-shadow 0.3s ease;

  }
  .comment-container {
    max-height: 300px;
    width: 100%;
    min-width: 60;
    padding: 10px;
    background-color: #E5E7EB;
    border-radius: 10px;
  }
  
  .comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .comment > .MuiAvatar-root {
    margin-right: 10px;
    
  }
  
  .comment-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-style: italic;
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    text-decoration: underline;
    
  }
  
  .comment-header > strong {
    margin-right: 5px;
  }
  
  .comment-actions {
    display: flex;
    gap: 5px;
    margin-top: 5px;
  }
  
  .comment-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .comment-input > .MuiInput-root {
    flex: 1;
    margin-right: 10px;
  }
  